<!-- 

  File: services.ejs
  Name: Amin Patel
  ID: 300968902
  Date: Feb 15th, 2021

-->

<%- include partials/header.ejs%>

  <%- include partials/main_nav.ejs%>


    <!-- Main Content -->

    <body>
      <main class="container">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
          <p class="lead">National Hockey League</p>
          <hr class="my-4">
          <!-- <p><img src="/assets/images/id.jpg" alt="Logo"class="id"></p> -->
          <p>Player Stats Informations Website</p>
          <hr class="my-4">
          <p>Skeleton of our Team Project site.</p>
          <p>Main task is completed under "Player Stats"</p>
          <p class="lead">
            <p>&nbsp;</p>
            <!-- <a class="btn btn-primary btn-lg" href="/assets/pdf/Resume.pdf" role="button">Resume</a> -->
          </p>
        </div>
      </main>

      <%- include partials/footer_nav.ejs%>

        <%- include partials/footer.ejs%>