<!-- 

  File: index.ejs
  Name: Amin Patel
  ID: 300968902
  Date: Feb 15th, 2021

-->

<%- include partials/header.ejs%>

  <%- include partials/main_nav.ejs%>


    <!-- Main Content -->

    <body>
      <main class="container">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
          <p class="lead"></p>
          <hr class="my-4">
          <p>National Hockey League</p>
          <hr class="my-4">
          <p><img src="/assets/images/logo.png" alt="Logo" width="1050" height="333" position="center" class="logo"></p>
          <p>Skeleton of our Team Project site.</p>
          <p>Main task is completed under "Player Stats"</p>
        </div>
      </main>



      <%- include partials/footer_nav.ejs%>

        <%- include partials/footer.ejs%>