<!-- 

  File: services.ejs
  Name: Amin Patel
  ID: 300968902
  Date: Feb 15th, 2021

-->

<%- include partials/header.ejs%>

  <%- include partials/main_nav.ejs%>


    <!-- Main Content -->

    <body>
      <main class="container">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
          <p class="lead">Hi! Nice to meet you!</p>
          <hr class="my-4">
          <!-- <p><img src="/assets/images/product-1.png" alt="Logo"class="product-1"></p>
          <p style="text-align:center;">A simple, sleek, and elegent design of a personal portfolio website made for a student.</p>
          <hr class="my-4">
          <p><img src="/assets/images/product-2.png" alt="Logo"class="product-2"></p> 
          <p style="text-align:center;">Java GUI Application created to store a database of students in relation with their grades and residency status.</p>
          <hr class="my-4">
          <p><img src="/assets/images/product-3.png" alt="Logo"class="product-3"></p> 
          <p style="text-align:center;">C# WinForm Application facilitates clients to subscribe/unsubscribe to notification as well as send notification to all subscribers.</p>
          <hr class="my-4"> -->
        </div>
      </main>

      <%- include partials/footer_nav.ejs%>

        <%- include partials/footer.ejs%>