<!-- 

  File: services.ejs
  Name: Amin Patel
  ID: 300968902
  Date: Feb 15th, 2021

-->

<%- include partials/header.ejs%>

  <%- include partials/main_nav.ejs%>


    <!-- Main Content -->

    <body>
      <main class="container">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
          <p class="lead">Offerings</p>
          <hr class="my-4">
          <ul>
            <li>Web Application Development (HTML, CSS, Node JS, Express JS)</li>
            <li>GitHub setup</li>
            <li>C# Console and WinForm Applications</li>
            <li>Java Console and GUI Applications</li>
            <li>Python</li>
            <li>MySQL Database</li>
          </ul>
          <hr class="my-4">
          <p>&nbsp;</p>
          <p>Time of completion may vary on the scale of the project. Please <a href="https://comp229-assignment02-amin.herokuapp.com/contact">contact me</a> for a quote.</p>
          <p>To view additional projects, feel free to check out my <a href="https://comp229-assignment02-amin.herokuapp.com/products">work</a>.</p>
          <p class="lead"></p>
        </div>
      </main>
      <%- include partials/footer_nav.ejs%>

        <%- include partials/footer.ejs%>